body{
    margin: 0;
}
.cardContainer{
    background-color: #cfd5ea;
    width: 100%;
    height: 100vh;
}

.card{
    width: 400px;
    height: 200px;
    background-color: red;
    margin: 20px auto 0 auto;
    position: relative;
    top: 50px;
    border-radius: 3%;
    background-image: url("img/death-g3a5a81b27_640.jpg");
}

.valueCard{
    width: 550px;
    height: 400px;
    background-color: #ffffff;
    margin: -50px auto 0 auto;
    border-radius: 2%;
}

.imgLogo{
    position: relative;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    padding-inline: 10px;
}

.cardPersonDate{
    position: relative;
    display: flex;
    top: 70px;
    padding-inline: 10px;
}

.numberCard{
    position: absolute;
    top: 60px;
    border: 2px white solid;
    width: 370px;
    height: 30px;
    margin: 13px;
    border-radius: 7%;
    color: white;
}

.cardNumber{
    padding-top: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.cardHolder{
    border: 1px white solid;
    width: 200px;
    height: 45px;
}
.cardExpires{
    border: 1px white solid;
    width: 200px;
    height: 45px;
}

.namePerson{
    padding-top: 10px;
    flex-direction: column;
    display: grid;
    width: 500px;
    margin: auto;
}

.spanDate{
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
}

.inputDate{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.inputDate>input{
    width: 15%;
    height: 30px;
}




button{
    width: 450px;
    display: flex;
    justify-content: center;
    background-color: #195986;
    height: 40px;
    border-radius: 4%;
}

.submit{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

img{
    height: 50px;
    width: 50px;
}

input{
    border-color: #8bbcdf;
    border-radius: 5%;
    height: 26px;
}

